@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Master</h1>
    <p>I am your Jmanblog API.</p>
    <p>Here you can learn some of my capabilities.</p>
    <table border="1" cellpadding="10">
        <tr>
            <th>Route</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="api/article/TestArticle">api/article/ArticleShort</a></td>
            <td>Retrieve content of specific article based on the shortname of the article in jmanblog-database.</td>
        </tr>
        <tr>
            <td><a href="api/topics">api/topics</a></td>
            <td>List all article topics in jmanblog-database table "Topics".</td>
        </tr>

    </table>
</div>
